# Virtual Environment
venv/
.env

# Python
__pycache__/
*.py[cod]
*$py.class

# Jupyter
.ipynb_checkpoints/

# Logs
log/
*.log

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Build files
build/
dist/
*.egg-info/

# Cache
.pytest_cache/
.mypy_cache/

# Ignore TensorBoard logs
logs/

# Ignore temporary model checkpoints only
*.ckpt
*.index
*.data-*

# DO NOT ignore trained model
!model.h5